body {
	overflow-y: scroll;
}

#header {

	position: fixed;
	top: -1%;
	width: 98%;
	background-color: #3c4d71;
}

#booksList {
	font-size: 12px;
	/*margin: 10px;*/
	list-style: none;
	color: white;
	padding-left: 20px;
    width: 100%;
    position: relative;
    top: auto;
    background: none;
    box-shadow: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 13px;
    font-family: "Open Sans", "Zoram ldslat", NotoSansMyanmar, "noto sans", Helvetica, Arial, sans-serif;
}

#booksList li {
	user-select: none; /* Standard */
	padding: 0px 20px 0px 20px;
}

#booksList li:hover {
	background-color: #7886a5;
	cursor: pointer;
}

#loginDiv {
	padding: 10px;
	position: fixed;
	top: 10%;
	right: 10px;
	width: 20vw;
	background-color: #3c4d71;
}

#loginForm {
	user-select: none; /* Standard */
	display: block;
}

#registerForm {
	user-select: none; /* Standard */
	display: none;
}

button {
    background: none;
    color: white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#noteArea {
	background-color: #3c4d71;
	position: fixed;
	padding: 10px;
	float: right;
	width: 30vw;
	height: 40vh;
	right: 10px;
	color: white;
	top: 10%;
}

#noteArea textarea {
	margin-top: 3%;
	resize: none;
	width: 90%;
	height: 65%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: lightyellow;
}

#noteControl {
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#otdays {
	 display: none;
}

#otdayslist, #ntdayslist, #bomdayslist, #dncdayslist {
	list-style: none;
	line-height: 1.5em;
}

#otdayslist li, #ntdayslist li, #bomdayslist li, #dncdayslist li {
	width: 50%;
}

#otdayslist:hover, #ntdayslist:hover, #bomdayslist:hover, #dncdayslist:hover {
	list-style: none;
	line-height: 1.5em;
}

#otdayslist li:hover, #ntdayslist li:hover, #bomdayslist li:hover, #dncdayslist li:hover {
	cursor: pointer;
	transform: scale(1.01);
}