body {
	overflow-y: scroll;
}

#header {

	position: fixed;
	top: -1%;
	width: 98%;
	background-color: #3c4d71;
}

#booksList {
	font-size: 12px;
	/*margin: 10px;*/
	list-style: none;
	color: white;
	padding-left: 20px;
    width: 100%;
    position: relative;
    top: auto;
    background: none;
    box-shadow: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 13px;
    font-family: "Open Sans", "Zoram ldslat", NotoSansMyanmar, "noto sans", Helvetica, Arial, sans-serif;
}

#booksList li {
	user-select: none; /* Standard */
	padding: 0px 20px 0px 20px;
}

#booksList li:hover {
	background-color: #7886a5;
	cursor: pointer;
}

#loginDiv {
	padding: 10px;
	position: fixed;
	top: 10%;
	right: 10px;
	width: 20vw;
	background-color: #3c4d71;
}

#loginForm {
	user-select: none; /* Standard */
	display: block;
}

#registerForm {
	user-select: none; /* Standard */
	display: none;
}

button {
    background: none;
    color: white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#noteArea {
	background-color: #3c4d71;
	position: fixed;
	padding: 10px;
	float: right;
	width: 30vw;
	height: 40vh;
	right: 10px;
	color: white;
	top: 10%;
}

#noteArea textarea {
	margin-top: 3%;
	resize: none;
	width: 90%;
	height: 65%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: lightyellow;
}

#noteControl {
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#otdays {
	 display: none;
}

#otdayslist, #ntdayslist, #bomdayslist, #dncdayslist {
	list-style: none;
	line-height: 1.5em;
}

#otdayslist li, #ntdayslist li, #bomdayslist li, #dncdayslist li {
	width: 50%;
}

#otdayslist:hover, #ntdayslist:hover, #bomdayslist:hover, #dncdayslist:hover {
	list-style: none;
	line-height: 1.5em;
}

#otdayslist li:hover, #ntdayslist li:hover, #bomdayslist li:hover, #dncdayslist li:hover {
	cursor: pointer;
	transform: scale(1.01);
}

		.hsdivinit {
			display: inline-block;
			position: fixed;
			/*margin: 0 auto;*/
			padding: 10px 15px;
			transition: all 1s cubic-bezier(.25, .8, .25, 1);
			background: #34495e;
			left: 50%;
			bottom: -200px;
			transform: translate(-50%, -50%);
			color: #fff;
			/*opacity: 0;*/
			border-radius: 3px;
			font-family: 'Jaldi', sans-serif;

		}

		.hsdivshow {
			-webkit-animation: hsshowpulse .5s ease both;
		}

		@-webkit-keyframes hsshowpulse {
			0% {
				opacity: 1;
				bottom: -100px;
			}
			100% {
				opacity: 1;
				bottom: 20px;
			}
		}

		.hsdivhide {
			-webkit-animation: hshidepulse .3s ease both;
		}

		@-webkit-keyframes hshidepulse {
			0% {
				opacity: 1;
				bottom: 20px;
			}
			100% {
				opacity: 0;
				bottom: -100px;
			}
		}

		.hsdone {
			font-size: 15px;
			padding: 10px;
			background:#2ecc71;
			color: #FFF;
			display: inline-block;
			width: 20px;
			height: 20px;
			/* color: #444; */
			text-align: center;
			border-radius: 50%;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}

		.hswarning {
			font-size: 15px;
			padding: 10px;
			background: #f1c40f;
			color: #fff;
			display: inline-block;
			width: 20px;
			height: 20px;
			/* color: #444; */
			text-align: center;
			border-radius: 50%;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}

		.hserror {
			font-size: 15px;
			padding: 10px;
			background: #e74c3c;
			color: #fff;
			display: inline-block;
			width: 20px;
			height: 20px;
			/* color: #444; */
			text-align: center;
			border-radius: 50%;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}		
		.hsheart {
			font-size: 15px;
			padding: 10px;
			background: #fff;
			color: #e74c3c;
			display: inline-block;
			width: 20px;
			height: 20px;
			/* color: #444; */
			text-align: center;
			border-radius: 50%;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
		.hssad {
			font-size: 15px;
			padding: 10px;
			background: #ecf0f1;
			color: #d35400;
			display: inline-block;
			width: 20px;
			height: 20px;
			/* color: #444; */
			text-align: center;
			font-weight: 600;
			border-radius: 50%;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
		.hstext{
			padding: 0 10px;
			font-size: 20px;
			line-height: 20px;
		}
