<!DOCTYPE html>
<html>
<head>
	<title>Total</title>
	<script type="text/javascript">
	</script>
</head>
<body>
	<fieldset style="width: 30vw; height: 15vh">
		<legend>Total Cost</legend>
		<%= ptype %><br>
		Weight: <%= weight %> oz.<hr>
		The total cost will be: <br>
		<span>$<%= parseFloat(totalCost).toFixed(2) %></span>
	</fieldset>
</body>
</html>